<div class= "container">
    <h1>Product</h1>
    <p>The product component has a purple border.</p>
    <p>It is here because/products uses the router outlet in the root component.</p>
    <div class="containerA">
            <div>
                <a href="/products/details/8888">Go to details</a>
            </div>
            <div>
                <a href="/products/brand/8888">Go to Brand</a>
            </div>
            <div>
                <a href="/products/category/8888">Go to Category</a>
            </div>
    </div>
    <div class="card">
            <router-outlet></router-outlet>
    </div>
</div>
