<div class= "container">
    <h1>Reviews</h1>
    <p>The review component has a purple border.</p>
    <p>It is here because/products uses the router outlet in the root component.</p>
    <div class="containerA">
            <div>
                <a href="/reviews/details/4444">Go to details</a>
            </div>
            <div>
                <a href="/reviews/author/4444">Go to Authors</a>
            </div>
            <div>
                <a href="/reviews/all/4444">Go to All</a>
            </div>
    </div>
    <div class="card">
            <router-outlet></router-outlet>
    </div>
</div>
